
.support__container{
    width: 1100px;
}
.support__title{
   
    font-size: 30px;
    color: #2A2A2A;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.support__text{
    font-size: 14px;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    line-height: 30px;
    padding-bottom: 50px;
    color: #AFAFAF;
}
.support__list{
    width: 320px;
    height: 450px;
    position: relative;
}
.support__item{
    width: 230px;
    height: 150px;
    list-style: none;

}
.support__img{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.support__item__name{
    position: absolute;
    list-style: none;
    
    width: 280px;
    padding: 25px;
    height: 400px;
    box-shadow: 0px 1px 10px 0px;
    background-color: #fff;
    border-radius: 20px;
    bottom: -20px;
    right: -30px;
}
.support__title__name{
    font-size: 24px;
    font-family: sans-serif;
    color: #2A2A2A;
    height: 40px;
}
.support__title__name1{
    padding: 20px 0px;
    font-size: 18px;
    line-height: 20px;
    font-family: sans-serif;
    color: #2A2A2A;
}
.support__text__name{
    font-size: 14px;
    color: #AFAFAF;
    font-family: sans-serif;
    padding: 8px 0px;
}
.support__btn{
    width: 180px;
    height: 40px;
    background-color: #22B3C1;
    border: 0;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
}
.support__btn:hover{
    color: #22B3C1;
    background-color: #fff;
    border:  1px solid #22B3C1;
 }


 @media(max-width:1100px){
    .container{
        width: 1000px;
    }
  }
  @media(max-width:1020px){
    .container{
        width: 900px;
    }
   .support__container{
    max-width: 900px;
   }
   .support__list{
    width: 290px;
   }
   .support__item__name{
    width: 260px;
   }
  
  }
  @media(max-width:920px){
    .container{
        width: 800px;
    }
   .support__container{
    max-width: 800px;
   }
   .support__list{
    width: 290px;
   }
   .support__item__name{
    width: 260px;
   }
  
  }
  @media(max-width:820px){
    .container{
        width: 700px;
    }
   .support__container{
    max-width: 700px;
   }
   .support__list{
    width: 350px;
   }
   .support__item__name{
    width: 260px;
   }
  
  }
  @media(max-width:720px){
    .container{
        width: 600px;
    }
   .support__container{
    max-width: 600px;
   }
   .support__list{
    width: 300px;
   }
   .support__item__name{
    width: 260px;
   }
  
  }
  @media(max-width:620px){
    .container{
        width: 500px;
    }
   .support__container{
    max-width: 500px;
   }
   .support__text{
    width: 400px;
   }
   .support__list{
    width: 300px;
   }
   .support__item__name{
    width: 260px;
   }
  
  }
  @media(max-width:520px){
    .container{
        width: 400px;
    }
   .support__container{
    max-width: 400px;
   }
   .support__list{
    width: 300px;
    margin: 0 auto;
   }
   .support__item__name{
    width: 260px;
   }
   .support__text{
    width: 300px;
   }
  
  }
  @media(max-width:420px){
    .container{
        width: 300px;
    }
   .support__container{
    max-width: 300px;
   }
   .support__list{
    width: 280px;
    margin: 0 auto;
   }
   .support__item__name{
    width: 240px;
   }
   .support__text{
    width: 250px;
   }
  
  }