

.navbar{
  background-color: #22b3c1;
  /* position: fixed; */
  /* z-index: 10; */
  /* width: 100%;
  top: 0;
  right: 0;
  left: 0; */
}

.navbar__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 1100px;
}
.navbar__img{
    width: 250px;
    height: 40px;
}
.navbar__list{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.navbar__item{
    list-style: none;
}
.navbar__link{
    text-decoration: none;
    color:#fff;
   
    font-size: 18px;
}
.navbar__link:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid  blueviolet;
}
.navbar__box{
    display: flex;
    justify-content: space-between;
    width: 150px;
    align-items: center;
}
.navbar__linkicon{
    border-radius: 6px;
    text-decoration: none;
    background-color:#22b3c1 ;
    border: 1px solid #fff;
    padding: 5px 6px; 
}
.navbar__btn{
    background-color: #22b3c1;
    color: #fff;
    border: 0;
    font-size: 14px;
}
.select{
    background-color: #22b3c1;
    border: 0;
    color: #fff;
    /* padding: 6px;
    border-radius: 5px;
    border:  1px solid #fff; */
}
.modali{
    display: none;
}


@media(max-width:1100px){
    .container{
        width: 1000px;
    }
    .modal__icon{
        display: none;
    }
}
@media(max-width:1020px){
    .container{
        width: 900px;
    }
    .navbar__container{
        max-width: 900px;
    }
    .modal__icon{
        display: none;
    }
}
@media(max-width:920px){
    .container{
        width: 800px;
    }
    .navbar__container{
        max-width: 800px;
    }
    .navbar__img{
        width: 150px;
    }
    .modal__icon{
        display: none;
    }
}
@media(max-width:820px){
    .container{
        width: 700px;
    }
    .navbar__container{
        max-width: 700px;
    }
    .navbar__img{
        width: 100px;
    }
    .modal__icon{
        display: none;
    }
}
@media(max-width:720px){
    .container{
        width: 600px;
    }
    .navbar__container{
        max-width: 600px;
    }
    .modali{
        display: block;
    }
    .navbar__img{
        width: 100px;
    }
    .navbar__list{
        display: none;
    }
    .modal__icon{
        display: block;
    }
}
@media(max-width:620px){
    .container{
        width: 500px;
    }
    .navbar__container{
        max-width: 500px;
    }
    .navbar__img{
        width: 100px;
    }
    .navbar__list{
        display: none;
    }
}
@media(max-width:520px){
    .container{
        width: 400px;
    }
    .navbar__container{
        max-width: 400px;
    }
    .navbar__img{
        width: 100px;
    }
    .navbar__list{
        display: none;
    }
}
@media(max-width:420px){
    .container{
        width: 300px;
    }
    .navbar__container{
        max-width: 300px;
    }
    .navbar__img{
        width: 100px;
    }
    .navbar__list{
        display: none;
    }
}
