
.ending__container{
    padding-bottom: 60px;
    width: 1100px;
}
.ending__title{
    color: #2A2A2A;
    font-size: 25px;
    text-align: center;
    padding-bottom: 50px;
}
.span{
    color: #22B3C1;
}
.ending__form{
    width: 600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 20px;
    padding-bottom: 30px;
}
.ending__text{
    font-size: 16px;
    color: #AFAFAF;
    padding: 10px;
}
.ending__input{
    width: 280px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #bbb;
    padding: 10px;
}
.ending__select{
    width: 600px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #bbb;
    padding: 10px;
}
.ending__btn{
    border-radius: 20px;
    border: 0;
    background-color: #22B3C1;
    color: #fff;
    width: 600px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.ending__btn:hover{
    color: #22B3C1;
    background-color: #fff;
    border:  1px solid #22B3C1;
 }
 @media(max-width:1100px){
    .container{
        width: 1000px;
    }
  }
  @media(max-width:1020px){
    .container{
        width: 900px;
    }
   .ending__container{
    width: 900px;
   }
  
  }
  @media(max-width:920px){
    .container{
        width: 800px;
    }
   .ending__container{
     max-width: 800px;
   }
  
  }
  @media(max-width:820px){
    .container{
        width: 700px;
    }
   .ending__container{
     max-width: 700px;
   }
  
  }
  @media(max-width:720px){
    .container{
        width: 600px;
    }
   .ending__container{
     max-width: 600px;
   }
   .ending__form{
    width: 500px;
   }
   .ending__input{
    width: 500px;
   }
   .ending__select{
     width: 500px;
   }
  
  }
  @media(max-width:620px){
    .container{
        width: 500px;
    }
   .ending__container{
     max-width: 500px;
   }
   .ending__form{
    width: 400px;
   }
   .ending__input{
    width: 400px;
   }
   .ending__select{
     width: 400px;
   }
  
  }
  @media(max-width:520px){
    .container{
        width: 400px;
    }
   .ending__container{
     max-width: 400px;
   }
   .ending__form{
    width: 350px;
   }
   .ending__input{
    width: 350px;
   }
   .ending__select{
     width: 350px;
   }
  
  }
  @media(max-width:420px){
    .container{
        width: 300px;
    }
   .ending__container{
     max-width: 300px;
   }
   .ending__form{
    width: 280px;
   }
   .ending__input{
    width: 280px;
   }
   .ending__select{
     width: 280px;
   }
  
  }
